@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .bg-grid-white\/\[0\.02\] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cpath d='M100 0H0v100h100V0zM1 99V1h98v98H1z' fill='%23ffffff' fill-opacity='.02'/%3E%3C/svg%3E");
  }
}

body {
  background: #050505;
  color: white;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
